.container {
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 1rem;
  background-color: var(--mainCompColour);
  color: var(--mainColour);
  z-index: -666;
  
  border-radius: 10rem;
  border-left: var(--containerBorderThickness) solid var(--mainColour);
  border-bottom: var(--containerBorderThickness) solid var(--mainColour);
  border-right: var(--containerBorderThickness) solid var(--mainColour);
  box-shadow: 0 0 1px 4px var(--mainCompColour);
}

header.container {
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  font-size: 3rem;
  height: 26vh;
  color: var(--mainCompColour);
  background-color: rgba(255, 255, 255, 0);
  text-shadow: 0 0 3px var(--mainColour);

  border-bottom: none;
  border-left: var(--containerBorderThickness) solid var(--mainColour);
  border-top: var(--containerBorderThickness) solid var(--mainColour);
  border-right: var(--containerBorderThickness) solid var(--mainColour);
}

header.container, .container {
  box-shadow: 0 0 0px 6px rgb(155, 0, 245), 
  0 0 0px 10px rgb(245, 139, 0), 
  0 0 0 2px inset rgba(0, 0, 0, 0.493),
  0 0 0 4px inset rgba(0, 0, 0, 0.293);
}

.specialT {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--mainColour);
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    border: 1px solid var(--mainColour);
  }

  header.container {
    margin: 0;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    border: 1px solid var(--mainColour);
  }

  header.container {
    margin: 1rem;
    font-size: 1rem;
  }
}
