.container {
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--light);
  color: var(--mainColour);
  z-index: -666;
  
  border-radius: 50%;
  border-left: var(--containerBorderThickness) solid var(--mainColour);
  border-bottom: var(--containerBorderThickness) solid var(--mainColour);
  border-right: var(--containerBorderThickness) solid var(--mainColour);
  box-shadow: 0 0 1px 4px var(--mainCompColour),
    0 0 0 2px inset rgba(0, 0, 0, 0.239),
    0 0 0 4px inset rgba(0, 0, 0, 0.293);
}

header.container {
  text-align: center;
  font-size: 2.5rem;
  height: 30vh;
  width: 17%;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
  transform: translate(-25rem, 9rem) rotate(-10deg);
  color: var(--mainColour);
  background-color: var(--light);
  /* border-radius: 50%; */
  border-bottom: none;
  box-shadow: none;
  /* border-left: var(--containerBorderThickness) solid var(--mainColour); */
  /* border-top: var(--containerBorderThickness) solid var(--mainColour); */
  /* border-right: var(--containerBorderThickness) solid var(--mainColour); */
}

header.container, .container {
  /* box-shadow: 0 0 0px 5px rgb(155, 0, 245), 
  0 0 0px 10px rgb(245, 139, 0);   */
}

.specialT {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--mainColourAccent);
}

@media only screen and (max-width: 1350px) {
  header.container {
    font-size: 1.7rem;
    transform: translate(-25rem, 7rem) rotate(-10deg);
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    border: 1px solid var(--mainColour);
    border-radius: 1rem;
  }

  header.container {
    margin: 0;
    font-size: 1rem;
    
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    border: 1px solid var(--mainColour);
  }

  header.container {
    transform: translate(-25rem, 10rem) rotate(-10deg);
    margin: 1rem;
    font-size: 1rem;
  }
}
