.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 1rem;
  background-color: var(--mainCompColour);
  color: var(--mainColour);
  border: 2px dotted var(--mainColour);
}

header.container {
  height: 10vh;
}