.hide {
  transform: translateX(-100%);
  display: none;
}

.show {
  display: flex;
}

.green {
  color: lime;
}

.obscure {
  opacity: 0.5;
  filter: blur(2px);
}

.goButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statsBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

ul li {
  list-style: none;
}

.questionOutput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.question {
  padding: 2rem;
  font-size: 3rem;
}

.textInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--mainColour);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 10px;
}

.btn {
  margin-left: 1.5rem;
  padding: 0.35rem;
  border-width: 3px;
  border-style: solid;
}

.btn-reset {
  color: rgb(197, 118, 13);
  border-color: rgb(197, 118, 13);;
  background-color: rgba(255, 255, 0, 0);
}

input {
  color: var(--mainCompColour);
  font-size: 1.3rem;
  width: 5rem;
  outline: none;
  border: none;
  padding: 0.6rem;
  box-shadow: inset 2px 2px 2px var(--mainColour);
  background-color: var(--mainColour);
  border-radius: 1rem;
  caret-color: linen;
}

input:focus {
  /* color: rgb(0, 0, 0); */
  /* background-color: rgba(255, 255, 255, 0.911); */
  border: 1px solid var(--mainCompColour);
}

::placeholder {
  color: #fff;
}

button {
  color: var(--mainColour);
  padding: 0.5rem;
  border: 3px solid var(--mainColour);
}

button:hover, .btn:hover{
  cursor: pointer;
  background-color: #fff;
}

button:active {
  background-color: #666;
}

.messageContainer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1024;
  background-color: rgba(0, 0, 0, 0.554);
  /* transition: all 0.1s ease-in-out; */
}

.errorMessage {
  color: var(--mainColour);
  background-color: var(--mainCompColour);
  font-size: 2rem;
  padding: var(--medium);
}

@media only screen and (max-width: 1200px) {
  .question {
    padding: 2px;
    font-size: 1rem;
  }
  
  .textInput {
    font-size: 1rem;
    margin-bottom: 2px;
    padding: 2px;
  }
  
  input {
    font-size: 1.0rem;
    padding: 2px;
    border-radius: 0.3rem;
  }
  
  button {
    padding: 2px;
    border: 1px solid var(--mainColour);
  }
  
  .messageContainer {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1024;
    background-color: rgba(0, 0, 0, 0.554);
    /* transition: all 0.1s ease-in-out; */
  }

  .statsBar {
    display: flex;
    padding: 0.5rem;
    /* color: red; */
    /* background-color: var(--mainColour); */
  }

  .statsBar h2 {
    color: white;
  }
  
  .errorMessage {
    color: var(--mainColour);
    background-color: var(--mainCompColour);
    border: 5px solid var(--mainColour);
    font-size: 2rem;
    padding: var(--medium);
    border-radius: 3rem;
  }
}