.hide {
  transform: translateX(-100%);
  display: none;
}

.show {
  display: flex;
}

.obscure {
  opacity: 0.5;
  filter: blur(2px);
}

.questionOutput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  padding: 2rem;
  font-size: 3rem;
}

.textInput {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

input {
  font-size: 1.5rem;
  outline: none;
  padding: 0.3rem;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.781);
}

button {
  padding: 0.5rem;
}

.messageContainer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1024;
  background-color: rgba(0, 0, 0, 0.9);
  /* transition: all 0.1s ease-in-out; */
}

.errorMessage {
  color: var(--mainColour);
  background-color: var(--mainCompColour);
  font-size: 2rem;
  padding: var(--medium);
}

