:root {
  --mainHue: 320;
  --mainSaturation: 80%;
  --mainLight: 40%;
  --mainAlpha: 1.0;

  --backgroundColour: hsla(var(--mainHue), var(--mainSaturation), var(--mainLight), var(--mainAlpha));
  --mainCompColour: #eee;
  --mainColour: hsla(calc(var(--mainHue) - 180), var(--mainSaturation), var(--mainLight), var(--mainAlpha));
  --mainColourAccent: hsla(calc(var(--mainHue) - 180), var(--mainSaturation), calc(var(--mainLight) + 20%), calc(var(--mainAlpha) - 0.5));

  /* PADDING/MARGIN */
  --small: 0.5rem;
  --normal: 1.0rem;
  --medium: 1.5rem;
  --large: 2.5rem;
}